.linear {
	width: 300px;
	height: 300px;
	margin: 20px auto;
	background-image: repeating-linear-gradient(red 0px, green 40px, orange 80px);
}
.circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 50px auto;
	background-image: repeating-radial-gradient(red 0px, green 30px, orange 50px);
}