body {
	background-color: #ddd;
}
#main {
	margin: 100px auto;
	width: 800px;
	clear: both;
}
#main li {
	background-color: white;
	list-style: none;
	width: 240px;
	padding: 1px;
	float: left;
	margin: 10px;
	border: 3px solid rgba(255, 0, 0, 0);
	cursor: pointer;
}
.img img {
	transition: all .6s;
	width: 240px;
}
.goods-title {
	margin: 10px;
	color: #666;
	height: 70px;
	overflow: hidden;
}
.price {
	margin: 10px;
	color: red;
}
#main li:hover {
	border: 3px solid rgba(255, 0, 0, 1);
}
#main li:hover .img img {
	opacity: 0.7;
}
