.spinner {
	width: 60px;
	height: 60px;
	position: relative;
	margin: 100px auto;
}
.spinner > div {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #67CF22;
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	animation: circle 2.0s infinite ease-in-out;
}
.spinner > div:nth-child(2) {
	animation-delay: -1s;
}
@keyframes circle {
	0%, 100% {transform: scale(0.0);}
	50% {transform: scale(1.0);}
}