.layer {
	width: 150px;
	height: 150px;
	margin: 50px auto;
	background-color: pink;
	cursor: pointer;
	transition-duration: 2s;
	transition-property: all;
	transition-delay: .2s;
	transition-timing-function: step-end;
}
.layer:hover {
	width: 300px;
	height: 200px;
	background-color: blue;
	border-radius: 50%;
}