* {
	padding: 0px;
	margin: 0px;
	/*font-family: 'Microsoft YaHei';*/
}
.layer {
	margin: 10px auto;
	width: 260px;
	border: 1px solid #ccc;
	text-align: center;
}
.layer ul img {
	width: 160px;
	height: 160px;
}
.main li {
	list-style: none;
	cursor: pointer;
}
.m_title {
	font-size: 24px;
	font-weight: bold;
	margin: 5px;
}
.m_content {
	color: #666;
	margin-bottom: 15px;
}
.m_img {
	position: relative;
	margin: 30px;
}
.m_img::before {
	content: '';
	position: absolute;
	width: 220px;
	height: 220px;
	background-color: #eee;
	border-radius: 50%;
	z-index: -1;
	left: -10px;
	top: -30px;
}
.m_img img {
	transform:scale(1);
	transition: all .5s;
}
.layer li:hover .m_img img {
	transform: scale(1.2);
}