.layer {
	width: 260px;
	height: 200px;
	border: 1px solid black;
	/*background-image: linear-gradient(to left, orange 30%, black 60%, red 100%);*/
	background-image: linear-gradient(to left, orange 100px, black 160px, red 260px);
	background-image: -webkit-linear-gradient(to left, orange 100px, black 160px, red 260px);
	background-image: -o-linear-gradient(to left, orange 100px, black 160px, red 260px);
}