body {
	background-color: #e9e9e9;
}
.layer {
	width: 420px;
	padding: 10px 10px 20px 10px;
	margin: 50px 10px;
	border:1px solid #BFBFBF;
	background-color: white;
	-webkit-box-shadow: 12px 12px 18px #aaa;
	box-shadow: 12px 12px 18px #aaa;
}
.layer img {
	width: 400px;
	height: 300px;
}
.rotate_left {
	float: left;
	-webkit-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
}
.rotate_right {
	float: left;
	-webkit-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
}