.dialog {
	background-color: #6A6;
	margin: 50px auto;
	width: 300px;
	height:  25px;
	line-height: 25px;
	padding: 10px;
	border-radius: 6px;
	color: #fff;
	position: relative;
}

.dialog::before {
	content: '';
	border-left: 0px solid #6A6;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #F00;
	position: absolute;
	left: -10px;
	top: 10px;
}