.demo {
	margin: 30px auto;
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	height: 100px;
	text-overflow: clip;
	overflow: hidden;
}
.demo2 {
	margin: 0px auto;
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
